<!--herencia de plantilla base-->
{% extends 'base.html'%}
<!--Agregar titulo en la plantilla base-->
{% block title %}Estratos del 1 al 3{%endblock%}

<!--Iicio del bloque de contenido que se mostrará en la pagina-->
{%block content%}

<body>

    <body>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST">

                    <script>
                        window.onload = function() {
                            if (window.performance && window.performance.navigation.type === 2) {
                                window.location.href = "/otra_pagina";
                            }
                        }
                    </script>
                   

                    <div class="mb-3">

                        <label for="contrato"   class="form-label">Contrato</label>
                        <input type="text" class="form-control" id="contrato" disabled value="{{contrato}}">

                    </div>

                    <div class="mb-3">

                        <label for="contrato"   class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="contrato" disabled value="{{nombre}}">

                    </div>

                    <div class="mb-3">

                        <label for="contrato"   class="form-label">Barrio</label>
                        <input type="text" class="form-control" id="contrato" disabled value="{{barrio}}">

                    </div>

                    <div class="mb-3">

                        <label for="contrato"   class="form-label">Estrato</label>
                        <input type="text" class="form-control" id="contrato" disabled value="{{estrato}}">

                    </div>

          
                    <input type="submit" value="generar" type="button" class="btn btn-primary">
                    <label for="contrato"   class="form-label">{{mensaje}}</label>

                </form>

            </div>

        </div>
        <a href="/ganadores">Ir a ganadores</a><br>
        <a href="/">Ir al inicio</a>
        <!---

    </script>
     -->
    </body>




    {%endblock%}
    <!--fin del bloque de contenito-->