<!--herencia de plantilla base-->
{% extends 'base.html'%}
<!--Agregar titulo en la plantilla base-->
{% block title %}Sorteo{%endblock%}

<!--Iicio del bloque de contenido que se mostrará en la pagina-->
{%block content%}



<body>

    <body>
        <div class="row justify-content-center">
            <div class="col-md-6">
            <form method="POST">
                
             
                <div class="mb-3">

                    <label for="contrato"   class="form-label">Contrato</label>
                    <input type="text" class="form-control" id="contrato" disabled ">

                </div>

                <div class="mb-3">

                    <label for="contrato"   class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="contrato" disabled ">

                </div>

                <div class="mb-3">

                    <label for="contrato"   class="form-label">Barrio</label>
                    <input type="text" class="form-control" id="contrato" disabled ">

                </div>

                <div class="mb-3">

                    <label for="contrato"   class="form-label">Estrato</label>
                    <input type="text" class="form-control" id="contrato" disabled ">

                </div>

                <input type="submit" value="generar" type="button" class="btn btn-primary">
            </form>
        </div>
        <a href="/">Ir al inicio</a>
        </div>
        <!---
    <script>
        function generar() {
            // Genera un número de contrato aleatorio de 6 dígitos
            const numeroContrato = Math.floor(100000 + Math.random() * 900000);
            document.getElementById('contrato').value = numeroContrato;
        }
    </script>
     -->
    </body>




    {%endblock%}
    <!--fin del bloque de contenito-->